<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>

<SCRIPT language="javascript">
	var tituloPrj = "";
	function cabecalhoPrj(titulo){
		tituloPrj=titulo;
	}
	
	function recarregaLogo(){
		location.reload();
	}

</SCRIPT>
<TITLE> New Document </TITLE>
</HEAD>
<BODY topmargin=0>
<TABLE frame="void" bgcolor=#FFFFFF border=0 cellspacing=0 cellpadding="0" width=100% >
  <TBODY>
  <TR>
    <!-- <TD height=53 rowSpan=3><IMG height=55 src="..\imagens\logo_Comgas.gif" width=230 border=0></TD> -->
    <TD width=28 bgColor=#000099 height=33>&nbsp;</TD>
    <TD vAlign=center align=right bgColor=#000099 colSpan=2 height=33></TD>
  </TR>
  <TR>
    <TD bgColor=#FFFFFF width=100%  height=3></TD>
    <TD bgColor=#FFFFFF vAlign=bottom colSpan=2  height=3></TD></TR>
  <TR>
    <TD align=center width=100% bgColor=#F00000 height=19><FONT style="FONT: 12px Arial, Helvetica, sans-serif;FONT-WEIGHT: BOLD; WIDTH: 170px; COLOR: #FFFFFF; HEIGHT: 12px;FONT-STYLE: ITALIC; text-align: center"></FONT></TD>
    <TD vAlign=top bgColor=#007840 colSpan=2 height=19>
      <DIV align=right><SPAN<FONT></SPAN></DIV></TD></TR>
  <TR height=3>
    <TD width=224 height=3></TD>
    <TD width=28 height=3></TD>
    <TD vAlign=bottom width=210 height=3></TD>
    <TD vAlign=bottom width=312 height=3></TD></TR>
</TABLE>
</BODY>
</HTML>
