<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>


<script language="JavaScript">
	var tituloPrj = "";
	function cabecalhoPrj(titulo){
		tituloPrj=titulo;
        recarregaPj();
		alert("executou cabecalhoPrj="+titulo);
	}
	
	function recarregaPg(){
		location.reload();
		alert("executou recarregaPg");
	}

</SCRIPT>

<TITLE> New Document </TITLE>
</HEAD>
<BODY topmargin=0>
<TABLE frame="void" bgcolor=#FFFFFF border=0 cellspacing=0 cellpadding="0" width=100% >
  <TBODY>
  <TR>
    <TD height=53 rowSpan=3><IMG height=55 
      src="../imagens/logo_Comgas.gif" width=224 border=0></TD>
    <TD align="center" bgColor=#0f589f height=33 ><FONT style="FONT: 12px Arial, Helvetica, sans-serif;FONT-WEIGHT: BOLD; WIDTH: 170px; COLOR: #FFFFFF; HEIGHT: 12px;FONT-STYLE: ITALIC; text-align: center">DATAENTRY</FONT></TD>
    <TD vAlign=center align=right bgColor=#0f589f colSpan=2 height=33>
      </TD></TR>
  <TR>
    <TD bgColor=#FFFFFF width=100%  height=3></TD>
    <TD bgColor=#FFFFFF vAlign=bottom colSpan=2  height=3></TD></TR>
  <TR>
    <TD width=100% height=19 align=center bgColor=#007840><div align="right"><FONT style="FONT: 12px Arial, Helvetica, sans-serif;FONT-WEIGHT: BOLD; WIDTH: 170px; COLOR: #FFFFFF; HEIGHT: 12px;FONT-STYLE: ITALIC; text-align: center">
      <SCRIPT>document.write(tituloPrj);</SCRIPT>
      <a href="./index.jsp"></a>    </FONT></div></TD>
    <TD vAlign=top bgColor=#007840 colSpan=2 height=19>
      <!--<DIV align=right><SPAN<FONT></SPAN></DIV></TD></TR>-->
  <TR height=3>
    <TD width=224 height=3></TD>
    <TD width=28 height=3></TD>
    <TD vAlign=bottom width=210 height=3></TD>
    <TD vAlign=bottom width=312 height=3></TD></TR>
</TABLE>
</BODY>
</HTML>
