      <table>
         <tr>
            <td class=tituloLabel nowrap=0>janeiro:<BR>
            <INPUT TYPE="text" NAME="janeiro" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>fevereiro:<BR>
            <INPUT TYPE="text" NAME="maio" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>março:<BR>
            <INPUT TYPE="text" NAME="março" size="12" border="3" class="favoritosEsq" value="">
            </td>            
            <td class=tituloLabel nowrap=0>abril:<BR>
            <INPUT TYPE="text" NAME="abril" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>maio:<BR>
            <INPUT TYPE="text" NAME="maio" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>junho:<BR>
            <INPUT TYPE="text" NAME="junho" size="12" border="3" class="favoritosEsq" value="">
            </td>
         </tr>
       </table>
       <table>
         <tr>
            <td class=tituloLabel nowrap=0>julho:<BR>
            <INPUT TYPE="text" NAME="julho" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>agosto:<BR>
            <INPUT TYPE="text" NAME="agosto" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>setembro:<BR>
            <INPUT TYPE="text" NAME="setembro" size="12" border="3" class="favoritosEsq" value="">
            </td>            
            <td class=tituloLabel nowrap=0>outubro:<BR>
            <INPUT TYPE="text" NAME="outubro" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>novembro:<BR>
            <INPUT TYPE="text" NAME="novembro" size="12" border="3" class="favoritosEsq" value="">
            </td>
            <td class=tituloLabel nowrap=0>dezembro:<BR>
            <INPUT TYPE="text" NAME="dezembro" size="12" border="3" class="favoritosEsq" value="">
            </td>
         </tr>
       </table>

