<HTML>
<script language='JavaScript'>
<!--
function voltar(){
//location="aguarde.html";
    parent.grid.document.write("<BODY bgColor=#FCF0E9 text=#009999><TABLE align=center width=100%><tr><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></tr><tr align=center ><td nowrap=0><FONT SIZE=5 FACE=arial>Por favor, aguarde.</FONT></td></tr><tr align=center><td nowrap=0><FONT SIZE=3 FACE=arial>Esta consulta pode demorar alguns minutos...</FONT></td></tr><TABLE align=center><tr></tr></TABLE><tr></tr></TABLE></BODY>");
//    <td><IMG style="CURSOR: hand" border=0 SRC="imagens/btnretornar.gif" onclick='voltar()' onMouseOver="document.images[1].src='imagens/btnretornar_on.gif'" onMouseOut="document.images[1].src='imagens/btnretornar.gif'">
//   </tr></TABLE><tr></tr></TABLE></BODY>");
   
   
   // parent.grid.document.write("html/aguarde.html");
}
//-->
</script>
<TITLE> ERRO </TITLE>
<BODY bgColor=#FCF0E9 text=#FF3300 >
<TABLE align=center width=100%>
	<tr><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></tr>
	<tr align=center >
		<td nowrap=0><FONT SIZE=5 FACE=arial>Acesso Bloqueado!</FONT></td>
	 </tr> 
	<tr align=center>
		<td nowrap=0><FONT SIZE=3 FACE=arial>É necessário efetuar o login!</FONT></td>
	 </tr>
<TABLE align=center>
  <tr>
    <td style='WIDTH: 70px; HEIGHT: 23px;BORDER-RIGHT: #3f4491 1px solid; BORDER-TOP: #3f4491 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #3f4491 1px solid; COLOR: #3f4491; BORDER-BOTTOM: #3f4491 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif' nowrap align=center onClick='voltar()'>Retornar</td> 
   </tr>
</TABLE>
	<tr></tr>
</TABLE>
</BODY>
</HTML>
