<HTML>
<script language='JavaScript'>
<!--
function voltar(){
   history.back()
}
//-->
</script>
<TITLE> ERRO </TITLE>
<BODY bgColor=#FCF0E9 text=#FF3300 >
<TABLE align=center width=100%>
	<tr><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></tr>
	<tr align=center >
		<td nowrap=0><FONT SIZE=5 FACE=arial>Acesso bloqueado!</FONT></td>
	 </tr> 
	<tr align=center>
		<td nowrap=0><FONT SIZE=3 FACE=arial>Sem permissão de acesso.</FONT></td>
	 </tr>
<TABLE align=center>
  <tr> <BR>
	<td><IMG style="CURSOR: hand" border=0 SRC="../imagens/btnretornar.gif"onclick= voltar() onMouseOver="document.images[0].src='../imagens/btnretornar_on.gif'" onMouseOut="document.images[0].src='../imagens/btnretornar.gif'"></td>
  </tr>
</TABLE>
	<tr></tr>
</TABLE>
</BODY>
</HTML>
